:root {
    --color-black: rgb(0, 0, 0);
    --color-gray: rgb(28, 28, 30);
    --color-gray-light: rgb(44, 44, 46);
    --color-green: rgb(52, 199, 89);
    --color-orange: rgb(255, 149, 0);
    --color-red: rgb(255, 59, 48);
    --color-red-dark: rgb(78, 0, 0);
    --color-white: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    min-width: 450px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--color-gray);
    padding: 1.5rem;
    gap: 1rem;
}

.output-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 120px;
    background-color: var(--color-gray-light);
    border-radius: 0.5rem;
    padding: 1rem;
}

.output-container__text {
    color: var(--color-white);
    font-size: 3rem;
}

.input-container {
    align-items: center;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
}

.input-container button {
    height: 85px;
    font-size: 2rem;
    color: var(--color-white);
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-gray-light);
    cursor: pointer;
    transition: filter 0.15s, background-color 0.15s;
}

.input-container button:hover {
    filter: brightness(115%);
}

.input-container button:active {
    filter: brightness(90%);
}

.input-container button.clear-button {
    background-color: var(--color-red-dark);
    color: var(--color-red);
}

.input-container button.operator-button {
    background-color: var(--color-orange);
}

.input-container button.backspace-button {
    align-items: center;
    display: flex;
    justify-content: center;
}

.input-container button.backspace-button img {
    height: 40px;
    width: 40px;
    filter: invert(100%);
    pointer-events: none;
}

.input-container button.equal-button {
    background-color: var(--color-green);
}